@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

@keyframes menuItemTransition {
    0% {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes loader {
    to {
        opacity: 0;
        z-index: -10
    }
}

@keyframes jump {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(10px)
    }

    75% {
        transform: translateY(-10px)
    }

    to {
        transform: translateY(0)
    }
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    animation: loader .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encloseLoaderItem {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.loaderItem {
    display: block;
    background: black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0;
    animation: jump 1s;
    animation-iteration-count: 1
}

.loaderItem1 {
    background-color: #9356dc;
}

.loaderItem2 {
    background-color: #FF79DA;
    animation-delay: .25s
}

.loaderItem3 {
    background-color: #99E2D0;
    animation-delay: .5s
}


body,
html {
    margin: 0;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

.headerLogo {
    width: 200px;
    padding: 20px 0;
}

.headerMenus {
    position: relative
}

.headerIcon {
    position: absolute;
    left: 20px;
    height: 20px;
    width: 20px;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 25px;
    color: #000
}

.restaurantImg {
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, .75);
    font-size: 25px;
}

.locationTxt {
    margin-left: 20px;
    font-weight: bold;
}

.discover {
    text-align: center;
    background-color: #fafafa;
    padding: 50px;
    height: 400px;
}

.discoverTitle {
    font-size: 38px;
    margin: 0;
}

.discoverSubtitle {
    font-size: 28px;
    margin: 15px 0 60px 0;
    color: rgba(0, 0, 0, .65);
}

.discoverButton,
.commandButton {
    border: 0;
    padding: 20px 30px;
    font-size: 18px;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    cursor: pointer;
    transition-duration: .25s;
    box-shadow: .25rem .25rem 10px rgba(0, 0, 0, .25);
    text-decoration: none;
}

.discoverButton:hover,
.commandButton:hover {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5)
}

@media screen and (min-width:450px) {
    .discover {
        height: 300;
    }

    .discoverButton {
        font-size: 25px;
    }
}

.tuto {
    padding: 40px 25px;
}

.tutoTitle {
    font-size: 37px;
}

.tutoList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tutoItem {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 30px;
    margin: 40px 0 10px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .125);
}

.tutoItemNumber {
    display: flex;
    background-color: #9356DC;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    margin-left: -34px;
}

.tutoItemIcon {
    margin: 0 20px;
    color: rgba(0, 0, 0, .50);
    font-size: 25px;
}

.tutoItemTxt {
    font-size: 20px;
}

@media screen and (min-width:1000px) {
    .tuto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tutoList {
        display: flex;
    }

    .tutoItem {
        width: auto;
        margin-right: 30px;
    }
}

.restaurant {
    background-color: #fafafa;
}

.restaurantTitle {
    font-size: 33px;
    padding: 60px 0 0 20px;
    padding-top: 60px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    max-width: 1000px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    height: 320px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    text-decoration: none;
}


.encloseRestaurantImg {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
}

.restaurant1 {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    display: flex;
    justify-content: flex-end;
}

.restaurant2 {
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    display: flex;
    justify-content: flex-end;
}

.restaurant3 {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.restaurant4 {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.cardNew {
    background-color: #99e2d0;
    color: #24816a;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    height: 22px;
    margin: 20px;
}

.encloseCardContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardContentTitle {
    color: black;
    font-size: 25px;
    padding: 10px 0 0 20px;
    margin: 0;
}

.cardContentTxt {
    color: rgba(0, 0, 0, .75);
    font-size: 25px;
    margin: 0;
    padding: 0 20px;
}

.cardHeart {
    display: flex;
    font-size: 30px;
    color: rgba(0, 0, 0, .75);
}

.cardHeartReg {
    padding-right: 20px;
}

.cardHeartFill {
    opacity: 0;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardHeart:hover .cardHeartReg {
    opacity: 0;
    transition: 0.7s;

}

.cardHeart:hover .cardHeartFill {
    transition: 0.7s;
    opacity: 1;
}

@media screen and (min-width : 1000px) {

    .restaurant {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 420px;
    }

}

footer {
    background-color: #353535;
    color: white;
    display: flex;
    flex-direction: column;
}

.footerContent {
    margin-left: 20px;
    padding: 0;
}

.footerLogo {
    width: 130px;
    margin: 25px 0;
    filter: invert(100%);
}

.footerItem {
    display: flex;
    align-items: center;
    height: 30px;
}

.footerIcon1 {
    margin-right: 20px;
    margin-left: 5px;
}

.footerIcon2 {
    margin-right: 14px;
    margin-left: 5px;
}

.footerTxt {
    font-size: 20px;
    margin: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

.footerTxt:hover {
    cursor: pointer;
    text-decoration: underline;
}


.mainMenu {
    background-color: #f6f6f6;
    margin-top: -50px;
    border-radius: 50px 50px 0 0;
    z-index: 1;
    position: relative;
}

.menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 0 15px;
}

.menuHeaderTitle {
    font-size: 35px;
    font-style: oblique;
}

.encloseMenuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.encloseMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;

}

.encloseMenuTitle {
    display: flex;
    flex-direction: column;
}

.menuTitle {
    text-transform: uppercase;
    font-weight: 300;

}

.menuTitleUnderline {
    width: 45px;
    height: 3px;
    background-color: #99e2d0;
    margin-top: -10px;
}

.menuItem {
    display: flex;
    background-color: white;
    border-radius: 25px;
    animation: menuItemTransition 1s;
    animation-fill-mode: both;
    transform: scale(0);
    overflow: hidden;
    width: 340px;
    height: 90px;
    max-width: 444px;
    max-height: 90px;
}

.encloseMenuItemContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.menuItemContent {
    display: flex;
    flex-direction: column;
}

.menuItemTitle {
    font-size: 22px;
    margin: 10px 0 0 15px;
    white-space: nowrap;
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: .7s;
}

.menuItemSubtitle {
    font-size: 16px;
    margin: 10px 0 10px 15px;
    white-space: nowrap;
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-duration: .7s;
}

.menuItemPrice {
    padding: 15px 20px 0 0;
}

.menuItemCheck {
    background-color: #99e2d0;
    margin: -0 -64px -0 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .7s;
}

.menuItem:hover .menuItemCheck {
    margin-right: 0px
}

.menuItem:hover .menuItemTitle,
.menuItemSubtitle {
    width: 240px;
}

.menuItemEncloseIcon {
    height: 25px;
    width: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s
}

.menuItem:hover .menuItemEncloseIcon {
    transform: rotate(0)
}

.menuItemIcon {
    color: #99e2d0
}

@media screen and (min-width:450px) {
    .menuItem {
        width: 444px;
    }

    .menuItemTitle {
        font-size: 25px;
        width: 388px;
    }

    .menuItemSubtitle {
        width: 388px;
    }

    .menuItem:hover .menuItemTitle,
    .menuItemSubtitle {
        width: 320px;
    }

}

@media screen and (min-width:1412px) {
    .encloseMenuItem {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.encloseButton {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 3rem 0
}

.delay-0 {
    animation-delay: .2s;
}

.delay-1 {
    animation-delay: .4s;
}

.delay-2 {
    animation-delay: .6s;
}